a {
  text-decoration: none;
}

* {
  font-family: 'Montserrat', sans-serif;
  --purple: #a370f0;
  --yellow: #f9eedd;
  --dark-purple: #551A8B;
}

body {
  background-color: #eeeeee;
  background: rgb(249,238,221);
  background: linear-gradient(180deg, rgba(249,238,221,1) 0%, rgba(163,112,240,0.4920167896260067) 100%);
  overflow-x: hidden;
}

